<hr>
<table>
  <tr>
    <th>Hotel id</th>
    <th>Hotel Name</th>
    <th>Number of reviews</th>
    <th>Address</th>
    <th>Number of Stars</th>
    <th>Amenities</th>
    <th>Image</th>
    <th>SnapTravel price</th>
    <th>Hotels price</th>
  </tr>
{% for row in data %}
  <tr>
    <td>{{row.id}}</td>
    <td>{{row.hotel_name}}</td>
    <td>{{row.num_reviews}}</td>
    <td>{{row.address}}</td>
    <td>{{row.num_stars}}</td>
    <td>{{row.amenities}}</td>
    <td><img src={{row.image_url}} height="250"></td>
    <td>{{row.snaptravel_price}}</td>
    <td>{{row.hotelscom_price}}</td>
  </tr>
{% endfor %}
</table>
